body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
a{
    text-decoration: none;
    color: red
}
h1{
    text-align: center;
    color: blue
}
.menu{
    background-color: green
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.menu ul li{
    position: relative; /*Dùng để định dạng vị trí menu con*/
}
.menu ul li a{
    display: block;
    padding: 15px;
}
.menu ul li:hover {
    background-color: greenyellow;
}
.menu ul li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #34495e;
    min-width: 180px;
    flex-direction: column;
    z-index: 100;
}
.menu ul li:hover > ul {
    display: flex;
}
.menu ul li ul li ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 180px;
    flex-direction: column;
}
h2{
    padding: 10px;
    color: blue;
}
form{
    padding: 25px;
    font-size: 20px;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin: 0;
    font-size: 15px;
}